<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>语言情感分析</title>
    <script src="../static/js/function-plot.js"></script>
    <script>
      function showProcessingMessage() {
        document.getElementById("processing-message").style.display = "block";
      }
    </script>
    <link rel="stylesheet" href="../static/css/mdui.min.css"/>
    <style>
      /* 默认样式 */
      .mdui-container {
        width: 960px;
        margin: 0 auto;
      }
      
      /* 在小屏幕上覆盖默认样式 */
      @media (max-width: 600px) {
        .mdui-container {
          width: 100%;
          padding: 16px;
        }
      }
    </style>
  </head>
  <body class="mdui-theme-layout-auto" >
    <div>
   <form action="/predict" method="POST" enctype="multipart/form-data" onsubmit="showProcessingMessage()">

      <div class="mdui-container">
        <div class="mdui-textfield mdui-textfield-floating-label">
          <label class="mdui-textfield-label">输入文字：</label>
          <input class="mdui-textfield-input" type="text" id="function-input" name="input_text"/>
        </div>
      </div>


      <style>
    .mdui-color-custom-1 {
      background-color: #466558;
      color: #FFFFFF;
    }
  </style>

 
      <div class="mdui-container">
        <button id="draw-button" class="mdui-btn mdui-btn-raised mdui-color-custom-1 mdui-float-right">分析</button>
      </div>

   </form>


      <script src="../static/js/mdui.min.js"></script>
    </div>
    <div id="processing-message" style="display: none;">
      <p><center>正在分析</center></p>
    </div>
    <a1><center>{{result}}</center></a2>
  </body>

</html>