<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>语言情感分析</title>
    <script src="../static/js/function-plot.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/mdui.min.css"/>
    <script>
          $(document).ready(function(){
            $('#draw-button').click(function(){
              $('#progress').show()
              var data = $('#function-input').val();
              $.ajax({
                type:'POST',
                url:'process',
                data:{'data':data},
                success: function(response){
                  $('#result').text(response.result)
                  $('#progress').hide()
                }
              });
            });
          }
          );
        </script>
  </head>
  <body class="mdui-theme-layout-auto mdui-theme-primary-indigo mdui-theme-accent-indigo" >
    <div>


      <div class="mdui-container">
        <div class="mdui-textfield mdui-textfield-floating-label">
          <label class="mdui-textfield-label">输入文字：</label>
          <input class="mdui-textfield-input" type="text" id="function-input" name="input_text"/>
        </div>
      </div>




 
      <div class="mdui-container">
        <button id="draw-button" class="mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-ripple mdui-float-right">分析</button>
      </div>



      <script src="../static/js/mdui.min.js"></script>
    </div>
    <div class="mdui-container">
    <div class="mdui-progress" id="progress" style="display:none;">
      <div class="mdui-progress-indeterminate"></div>
    </div>
   </div>
    <center><div class="mdui-typo-display-1" id="result"></div></center>
    <div class="mdui-container">
    <div class="mdui-typo">
      <blockquote>
        <p>输入一段话，可以识别这段话是消极还是积极的</p>
        <footer>By 乔不思</footer>
      </blockquote>
    </div>
</div>
  </body>

</html>